<table class = 'table table-striped table-hover'>
  <thead>
    <tr><a href="#" class ="pull-right">Results :<span class="badge"><%=contact_lists.count%></span></a></tr><br/>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Contact</th>     
    </tr>
  </thead>
  <tbody>
    <% logger.info("#{contact_lists.inspect}")%>
    <%contact_lists.each do |contact_list| %>
      <tr>
        <td><%= contact_list.id %></td>
        <td>
          <%= contact_list.name%>
        </td>
        <td><%= contact_list.contact %></td>  
        <td><%= link_to ">", contact_list_path(contact_list), class: 'btn btn-default' %></td>            
      </tr>
    <% end %>
  </tbody>
</table>